# Flask - Web framework
Flask==3.0.0

# Flask-CORS - Allow frontend to call backend API
flask-cors==4.0.0

# Flask-SQLAlchemy - Database ORM (makes database easy)
Flask-SQLAlchemy==3.1.1

# bcrypt - Password hashing
bcrypt==4.1.2
